<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text" name="busca" placeholder="Buscar país..." [(ngModel)]="txtBusca" class="form-control">
        </form>
    </div>
</div>

<hr>

<div *ngIf="haErro" class="alert alert-danger">
    Nenhum resultado para a busca "{{txtBusca}}"
</div>

<div *ngIf="!haErro" class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandeira</th>
                    <th>Nome</th>
                    <th>População</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bandeira</td>
                    <td>nome</td>
                    <td>152515</td>
                    <td>
                        <a href="">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>