<h3>Buscar por região <small>{{regiaoAtiva | titlecase}}</small></h3>
<hr>

<h5>Selecione uma região</h5>

<div class="row animate__animated animate__fadeIn">
    <div class="col">
        <button 
            *ngFor="let regiao of regioes"
            [class]="getClasseCSS(regiao)"         
            (click)="ativarRegiao(regiao)">
            {{regiao}}
        </button>
    </div>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-paises-tabela [paises]="paises"></app-paises-tabela>
    </div>
</div>